body{
    background-color: #E4E6E7;
}

.barra {
    background-color:#322A26;
    color: #E4E6E7;
}

.tarjeta{
  align-items: center;
  justify-content: center;
  background-color: #322A26;
  color: #E4E6E7;
  border: 1px solid;
  border-color:#322A26;
  border-radius: 20px;
}

.imagen{
    border: 1px solid;
    border-color:#322A26;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

.contacto{
    text-align: center;
    margin-bottom: 0px;
}

.boton {
    border: 0px;
}

.links {
    color: #E4E6E7;
}

.links:hover {
    cursor: pointer;
}

.parrafo{
    text-align: center;
}

.formulario{
    margin: 0 auto;
    width: 700px;
    text-align: center;
    background-color: #145369;
}

.fin{
    text-align: center;
    background-color: #29272A;
    color: #E4E6E7;
    padding: 10px;
}

.fotoig{
    width: 40px;
}

.fotocel{
    width: 40px;
}

.acerca{
    text-align: center;
    padding: 20px;
    margin-top: 0px;
}

.acercademi{
    padding: 120px;
}

.port{
    background-color: #308568;
    color: #E4E6E7;
}

.boton:hover {
    background-color: #504641
}

.boton {
    background-color: #322A26;
    color: #E4E6E7;
}